/* font 시작 */
.antonio-uniquifier {
  font-family: "Antonio", sans-serif;
  font-weight: weight;
  font-style: normal;
}

.roboto-condensed-uniquifier {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.noto-sans-krz{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
/* font 끝 */

/* main_container 시작 */
.main_container {
    font-family: "Antonio", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 25px;
    width: 80%;
    margin:  0 auto;
}

.logo > a > img {
    width: 94px;
}

.header_right_box > i {
    font-size: 48px;
    cursor: pointer;
}

.main_content {
    text-align: center;
}

.main_content > h1 {
    font-size: 190px;
    font-weight: 900;
    margin-top: 40px;
    letter-spacing: -5px;
    line-height: 260px;
}

.column_slider {
    list-style: none;
    width: 80%;
    max-height: 480px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 72px;
    color: rgb(50, 40, 31);
}
/* main_container 끝 */

/* best_carousel_container 시작 */
.best_carousel_container {
    background-image: url(/img/best_bg.png);
    width: 100%;
    height: 1510px;
    position: relative;
}

.best_carousel_container > h2 {
    text-align: center;
    padding: 185px 0 128px 0;
}

.carousel_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.prev {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.next {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.carousel_menu_box {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.carousel_menu_box > li {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bagel_name1 {
    background: url(/img/memo1.png);
    width: 240px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bagel_name2 {
    background: url(/img/memo2.png);
    width: 240px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bagel_name3 {
    background: url(/img/memo3.png);
    width: 240px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* best_carousel_container 끝 */

/* menu_container 시작 */
.menu_container {
    position: relative;
    height: 4389px;
}

.menu_bg {
    background: url(../img/menu_bg.png);
    position: absolute;
    width: 100%;
    height: 4389px;
    left: 0;
    top: -500px;
    padding-top: 480px;
}

.menu_item_box {
    display: flex;
    align-items: center;
    margin-left: 150px;
    gap: 65px;
}

.text_box > h2, p {
    margin-bottom: 11px;
}

/* menu_container 끝 */


/* footer 시작 */

footer {
    width: 100%;
    height: 270px;
    background-color: #362C24;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > figure {
    padding-bottom: 50px;
}
.info_texts {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-bottom: 20px;
}
/* footer 끝 */
