/* font 시작 */
.antonio-uniquifier {
  font-family: "Antonio", sans-serif;
  font-weight: weight;
  font-style: normal;
}

.roboto-condensed-uniquifier {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.noto-sans-krz{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  p:lang(en) {
    font-family: "PT Serif", serif;
  }
/* font 끝 */

/* fade_in 스크롤 시작 */

.to_bottom {
    transform: translateY(200px);
}

.to_left {
    transform: translateX(-200px);
}

.to_right {
    transform: translateX(200px);
}

.fade {
    opacity: 0;
    transition: 1s;
}

.in {
    transform: none;
    opacity: 1;
}

.delay {
    transition-delay: 0.3s;
}

body {
    overflow-x: hidden;
}

/* fade_in 스크롤 끝 */

/* main_container 시작 */
.main_container {
    font-family: "Antonio", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 25px;
    width: 80%;
    margin: 0 auto;
}

.logo > a > img {
    width: 94px;
}

.header_right_box > img {
    width: 48px;
    cursor: pointer;
}

.main_content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
   font-size: 190px;
    font-weight: 900;
    margin-top: 40px;
    letter-spacing: -5px;
    line-height: 260px; 
}

/* slider 시작 */
.slider_container {
    width: 1524px;
    height: 480px;
    overflow: hidden;
}

.column_slider {
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: transform 1s ease-in-out;
    margin: 0;
    padding: 0;
}

.column_slider > li {
    flex: 0 0 480px;
    width: 100%;
    height: 480px;
}

.column_slider > li > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/* slider 끝 */
/* main_container 끝 */

/* best_carousel_container 시작 */
h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 72px;
    color: rgb(50, 40, 31);
}

.best_carousel_container {
    background-image: url(../img/best_bg.png);
    width: 100%;
    height: 1510px;
    position: relative;
}

.best_carousel_container > h2 {
    text-align: center;
    padding: 185px 0 128px 0;
}

.carousel-container {
    max-width: 1000px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-slide {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .carousel-slide img {
    width: 100%;
    display: block;
    border-radius: 10px;

  }

  .slide-label {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide-label-text {
    text-align: center;
    line-height: 1.2;
    color: #000000;
  }

  .slide-label-text .eng {
    font-family: "PT Serif", serif;
    font-size: 16px;
    display: block;
  }

  .slide-label-text .kor {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    display: block;
    margin-top: 6px;
  }

  .carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 20px;
    z-index: 1;
  }

  .carousel-buttons button {
    background: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    opacity: 0;
  }

  .carousel-dots {
    text-align: center;
    margin-top: 15px;
  }

  .carousel-dots button {
    background: #776653;
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .carousel-dots button.active {
    background: #32281F;
  }

  @media (max-width: 1024px) {
    /* 태블릿 회면 */
    
    /* main_container 시작 */
.main_container {
    font-family: "Antonio", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 25px;
    width: 80%;
    margin: 0 auto;
}

.logo > a > img {
    width: 74px;
}

.header_right_box > img {
    width: 30px;
    cursor: pointer;
}

.main_content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
   font-size: 190px;
    font-weight: 900;
    margin-top: 40px;
    letter-spacing: -5px;
    line-height: 260px; 
}

/* main_container 끝 */
    .carousel-slide {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  @media (max-width: 767px) {
    .carousel-slide {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
/* 반응형 캐러셀 끝 */

/* menu_container 시작 */
.menu_container {
    position: relative;
    height: 3600px;
}

.menu_bg {
    background: url(../img/menu_bg.png);
    position: absolute;
    width: 100%;
    height: 3889px;
    left: 0;
    top: -500px;
    padding-top: 480px;
}

/* text_box 시작 */
.text_box > h2,
.goods_text_box > h2 {
    margin-bottom: 24px;
}

.text_box > p,
.goods_text_box > p { 
    margin-bottom: 8px;
}
/* text_box 끝 */

/* more_btn 시작 */
.more_btn {
    border: none;
    margin-top: 24px;
    padding: 12px 15px;
    background-color: #32281F;
    cursor: pointer;
}

.more_btn > a {
    text-decoration: none;
    color: #fff;
    padding: 12px 15px;
    font-family: "PT Serif", serif;
}

.more_btn:hover {
    background-color: #634f3d;
    transform: 0.3s;
}
/* more_btn 끝 */

/* menu_bagel_box */
.menu_bagel_box {
    display: flex;
    align-items: center;
    margin-left: 150px;
    gap: 65px;
}
/* menu_bagel_box 끝 */

/* menu_side_box 시작 */
.menu_side_box {
    position: relative;
    height: 713px;
}

.side_text_img{
    position: absolute;
    right: 5%;
}

.side_img {
    position: absolute;
    right:10%;
    top: 30%;
}
/* menu_side_box 끝 */

/* menu_goods_box 시작 */
.menu_goods_box {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 290px;
    gap: 65px;
}

.goods_text_box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* menu_goods_box 끝 */

/* menu_drinks_box 시작 */
.menu_drinks_box {
    display: flex;
    align-items: center;
    gap: 65px;
    margin-left: 400px;
    margin-top: 300PX;
}
/* menu_drinks_box 끝 */
/* menu_container 끝 */

/* storage_guide_container 시작 */
.storage_guide_container {
    width: 100%;
}

.storage_guide_bg {
    background: url(../img/Storage_img.png);
    height: 1700px;

}

.stitle_text_box {
    text-align: center;
    padding-top: 450px;
}

.title_text_kr {
    font-size: 48px;
    color: #32281F;
    font-weight: 600;
    position: relative;
    z-index: 1;
    margin-top: 12px;
}

.title_text_kr::before {
    background: url(../img/highlighter.png)no-repeat;
    content: '';
    width: 218px;
    height: 36px;
    display: inline-block;
    position: absolute;
    transform: translate(-20px,10px);
    z-index: -1;
}

.store_title_text_kr {
    font-size: 48px;
    color: #32281F;
    font-weight: 600;
    position: relative;
    z-index: 1;
    margin-top: 12px;
}

/* tap_menu 시작 */
.tabs_box > figure {
    text-align: center;
    transform: translateY(10px);
}
.tabs_box {
    position: relative;
    margin: 50px;
    z-index: 99;
}

.menu_tabs {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
} 

.tab {
    width: 535px;
    height: 230px;
    background-color: transparent;
    font-size: 75px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    color: #32281F;
    align-items: center;
    text-align: center;
    line-height: 230px;
    cursor: pointer;
}

.tab_content {
    width: 100%;
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 510px;
}

.content_box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 60px 120px;
    gap: 80px;
    background-color: #B8B8B8;
    width: 1365px;
    height: 390px;
}

.content_box > div > p {
    padding-bottom: 15px;
    text-align: justify;
    line-height: 28px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -2px;
    color: #32281F;
}

.content_box > p {
    padding-bottom: 24px;
    text-align: justify;
    line-height: 28px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -2px;
    color: #32281F;
}

.tab_content.active {
    display: flex;
}

.tab.active {
    background-color: #B8B8B8;
}
/* tap_menu 끝 */

/* storage_guide_container 끝 */

/* store_container 시작 */
.store_container {
    background: url(../img/store_img.png);
    width: 100%;
    height: 829px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.store_maps {
    width: 850px;
    height: 620px;
    border-radius: 100px;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.search {
    margin-left: 100px;
}

.store_text{
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.search_box {
    width: 670px;
    height: 90px;
    border: 3px solid #32281F;
    display: flex;
    align-items: center;
    margin: 12px 0 59px 0;
}

.search_box > input {
    width: 670px;
    height: 85px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    padding: 0;
    margin-left: 20px;
    outline: none;
}

.search_box > input::placeholder {
    color: #32281F;
}

.search_btn {
    background-color: transparent;
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    padding: 0;
}
/* store_container 끝 */

/* footer 시작 */
footer {
    width: 100%;
    height: 270px;
    background-color: #362C24;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > figure {
    padding-bottom: 50px;
}
.info_texts {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-bottom: 20px;
}
/* footer 끝 */
